asgiref==3.11.0
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.4
cloudinary==1.44.1
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
dj-database-url==3.0.1
Django==6.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-redis==6.0.0
djangorestframework==3.16.1
drf-extra-fields==3.7.0
drf-yasg==1.21.11
filetype==1.2.0
hiredis==3.3.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
inflection==0.5.1
joblib==1.5.3
msgpack==1.1.2
numpy==2.3.5
packaging==25.0
pillow==12.0.0
psycopg2==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
redis==7.1.0
requests==2.32.5
scikit-learn==1.8.0
scipy==1.16.3
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.4
threadpoolctl==3.6.0
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.6.2
whitenoise==6.11.0
zope.interface==8.1.1
