{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block side_bar %} {% endblock %}

        <div class="wrapper">
            {% block top_bar %} {% endblock %}
            <div class="popup-message" id="popup">
                <i></i>
                <p></p>
            </div>
            {% block content %} {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <screip src="{% static 'js/stream.js' %}" defer async></script>
</body>
</html>