*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease-in-out;
}

/* @font-face {
    font-family: 'mona_sans'; 
    src: url('../font/mona_sans/MonaSans-SemiBold.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
} */

body{
    background: whitesmoke;
    /* background: var(--bs-bg) url("/assets/images/bg.svg");
    font-family: 'mona_sans';
    line-height: 1.6;
    color: var(--clr-text);
    -webkit-font-smoothing: antialiased; */
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn{
    padding: 13px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    background: #000514;
    cursor: pointer;
}

.btn:hover{
    background: #00030c;
}

h1, h2, h3{
    font-weight: bold;
    color: #00030c;
}
h1{font-size: 35px;}
h2{font-size: 30px;}
h3{font-size: 25px;}