.form-rwapper{
    width: 350px;
    margin: 5em auto 0 auto;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 50px #0005111f;
}

.form-rwapper h1{
    text-align: center;
    margin-bottom: 25px;
}

.inputs,
.inputs input,
form button{
    width: 100%;
}


.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputs input{
    padding: 12px 6px;
    border-radius: 5px;
    border: 1px solid #0000004b;
    margin-top: 7px;
}

.form-rwapper button{
    margin-top: 30px;
}